body {
    margin: 0 50px;
    font-family: calibri;
}

.decoration{
    padding: 20px 40px;
    background-color: rgb(99, 35, 158);
}

nav {
    padding: 30px;
    padding-bottom: 0px;
    background-color: white;
}

.namebrand img {
    max-width: 150px;
}

.namebrand {
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}

.namebrand-text {
    margin: 0 50px;
    font-size: x-large;
}

.nav-links {
    position: absolute;
    top: 220px;
    left: 280px;
}

.login {
    position: absolute;
    top: 40px;
    right: 80px;
}

.link-wrapper div{
    margin-right: 20px;
}
