body {
    margin: 0 7% 0 7%;
    font-family: calibri;
    min-width: 1000px;
    width: 85%;
    height: auto;
}

.language {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 5px;
}

.language img {
    max-width: 25px;
    margin-right: 10px;
}

.language a {
    text-decoration: none;
    color: black;
    font-size: large;
    margin-right: 40px;
    font-weight: bold;
}

nav {
    background-color: rgb(24, 93, 150);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    clear: both;
}

.nav-links {
    display: flex;
}

.login {
    display: flex;
}

.nav-link-wrapper {
    margin: 5px 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.greeting {
    border-bottom: 1px solid rgb(185, 183, 183);
    margin-bottom: 20px;
}

.namebrand {
    display: flex;
    background-color: rgb(129, 218, 221);
    justify-content: space-between;
}

.namebrand > .left {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.namebrand-image img{
    max-width: 150px;
}

.namebrand-text {
    color: rgb(24, 93, 150);
    margin: 10px;
    font-size: larger;
}

.namebrand-text h1 {
    margin-bottom: 0px;
    white-space: nowrap;
}

.namebrand-text h5 {
    margin-top: 0px;
    white-space: nowrap;
}

.namebrand > .right {
    margin-top: 33px;
    margin-right: 50px;
}

.slogan {
    font-family: Verdana;
    color: rgb(24, 93, 150);
}

.slogan h1 {
    margin-bottom: 0;
    white-space: nowrap;
}

.slogan h2 {
    margin-top: 0;
    font-size: 1.25em;
    white-space: nowrap;
}

.slideshow-wrapper {
    max-width: 50%;
    position: relative;
    margin: auto;
    margin-top: 20px;
    box-shadow: 20px;
    margin-right: 25%;
}

.slides {
    display: none;
}

.slides img {
    max-height: 500px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    left: 625px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.sponsor-wrapper > .logos > .logo-wrapper {
    float: left;
    margin: 0;
    border: 1px solid transparent;
    transition: border 0.5s;
}

.logos img {
    max-width: 200px;
}

.sponsor-wrapper > .logos > .logo-wrapper:hover {
    border: 1px solid black;
}

.sponsor-heading {
    border-bottom: 1px solid rgb(185, 183, 183);
}

.about-heading {
    border-bottom: 1px solid rgb(185, 183, 183);
}

.contact-heading {
    border-bottom: 1px solid rgb(185, 183, 183);
}

.event-wrapper h2 {
    border-bottom: 1px solid rgb(185, 183, 183);
}