body {
    margin: 0 100px;
    font-family: calibri;
    min-width: 1000px;
    width: 85%;
    height: auto;
}

.language {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
}

.language img {
    max-width: 25px;
    margin-right: 10px;
}

.language a {
    text-decoration: none;
    color: black;
    font-size: large;
    margin-right: 40px;
}

nav {
    background-color: rgb(24, 93, 150);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    clear: both;
}

.nav-links {
    display: flex;
}

.login {
    display: flex;
}

.nav-link-wrapper {
    margin: 5px 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.namebrand {
    display: flex;
    background-color: rgb(129, 218, 221);
    justify-content: space-between;
}

.namebrand > .left {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.namebrand-image img{
    max-width: 150px;
}

.namebrand-text {
    color: rgb(24, 93, 150);
    margin: 10px;
    font-size: larger;
}

.namebrand-text h1 {
    margin-bottom: 0px;
    white-space: nowrap;
}

.namebrand-text h5 {
    margin-top: 0px;
    white-space: nowrap;
}

.namebrand > .right {
    margin-top: 33px;
    margin-right: 50px;
}

.slogan {
    font-family: Verdana;
    color: rgb(24, 93, 150);
}

.slogan h1 {
    margin-bottom: 0;
    white-space: nowrap;
}

.slogan h2 {
    margin-top: 0;
    font-size: 1.25em;
    white-space: nowrap;
}